---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Pagina Eventos | 404">
  <h1 class="text-white/80 text-3xl text-center">No se encuentran eventos con esas caracteristicas 😭</h1>
  <a href="/" class="text-xl p-2 bg-zinc-400 flex justify-center rounded-md text-white border-2 border-transparent mt-4 hover:border-zinc-400 hover:bg-white/80 hover:text-zinc-800">Volver al inicio</a>
</Layout>