---
import type {Event} from '../../lib/data'
import EventCard from '../components/EventCard.astro'

interface Props {
  events: Event[]
  title: string
}

const actualEvents = Astro.props

const {events, title} = actualEvents
---

<section>
  <div class="text-white">
		<div class="flex items-center justify-between font-bold text-3xl">
			<h2>{title === 'All' ? 'Todos los eventos' : title}</h2>
		</div>
		<div class="filter-events-container gap-2 justify-items-center">
			{
				events.map(event => <EventCard event={event} />)
			}
		</div>
	</div>
</section>

<style>
  .filter-events-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        200px,
        1fr
      )
    );
  }
</style>