---
import { events } from '../../../lib/data'
import { type Event } from '../../../lib/data'
import { obtainAllCitys } from '../../services/obtainAllCitys'
import { capitalizeFirstLetter } from '../../services/capitalizeFirstLetter'

import Layout from '../../layouts/Layout.astro'
import FiltereEventsPresent from '../../components/FiltereEventsPresent.astro'

const {city} = Astro.params

// const t = obtainAllTags(events)

export const getStaticPaths = (() => {
  return obtainAllCitys(events).map(c => {
    return ({params: {'city': c}})
  })
})

// Obtenemos todos los que coincidan con la busqueda actual
const filterEvents = events.filter(e => e.city.toLowerCase() === city)

---

<Layout title={`Pagina Eventos | ${capitalizeFirstLetter(city)}`}>
  <section>
    <h1 class="text-white text-3xl font-bold">Filtros</h1>
    
  </section>
  <FiltereEventsPresent title={capitalizeFirstLetter(city)} events={filterEvents} />
</Layout>