---
import { events } from '../../../lib/data'
import { type Event } from '../../../lib/data'
import { obtainAllTags } from '../../services/obtainAllTags'
import { capitalizeFirstLetter } from '../../services/capitalizeFirstLetter'

import Layout from '../../layouts/Layout.astro'
import FiltereEventsPresent from '../../components/FiltereEventsPresent.astro'

const {tag} = Astro.params

const t = obtainAllTags(events)

export const getStaticPaths = (() => {
  return obtainAllTags(events).map(t => {
    return ({params: {'tag': t}})
  })
})

// Obtenemos todos los que coincidan con la busqueda actual
const filterEvents = events.filter(e => {
  const tagsNormalized = e.tags.map(tag => tag.toLowerCase())
  return tagsNormalized.includes(tag)
})

---

<Layout title={`Pagina Eventos | ${capitalizeFirstLetter(tag)}`}>
  <section>
    <h1 class="text-white text-3xl font-bold">Filtros</h1>
    
  </section>
  <FiltereEventsPresent title={capitalizeFirstLetter(tag)} events={filterEvents} />
</Layout>